@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<div class="about-header d-flex align-items-center">
    <div>
        <h1 class="fw-bold text-warning-index mt-5">About LTR Medical</h1>
        <h4>LTR Medical was established to deliver the highest quality medical devices with matching service excellence.
        </h4>
    </div>
</div>
<div class="container row mt-4">
    <div class="col-md-7">
        <div class="about-highlight ms-3">
            The team at LTR have extensive experience in the Australian and New Zealand health-care sector and are
            committed to building long-term mutually beneficial professional relationships with Clinicians, Health-Care
            Providers and Corporate Partners.
        </div>
        <p class="ms-3">Our devices and technologies are sourced from innovative global and local manufacturers and
            surpass the highest standards of clinical efficacy, safety and quality assurance, giving you confidence and
            security in choosing to work with our products and services.</p>
        <p class="ms-3">Our product portfolio is utilised across many specialties such as Anaesthesia, Emergency
            Medicine, Pain Management, Hospital in the Home, Immunology, Obstetrics, Oncology, Renal Dialysis, In
            Hospital Infusion Management, Vascular Access Management, and Hospital Pharmacy.</p>
    </div>
    <div class="col-md-5">
        <div class="about-mission">
            <h4 class="text-warning-index">LTR Mission and Culture</h4>
            <ul>
                <li>Building long-term relationships in healthcare</li>
                <li>Reflected in our values, beliefs, attitudes and behaviours</li>
            </ul>
        </div>
    </div>
</div>